@model List<WMS.WebUI.ViewModels.ProductViewModel>

<br />
<div class="mb-4">
    <form asp-action="Index">
        <div class="row g-3">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="searchString" value="@ViewBag.SearchString" />
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="categoryId" asp-items="@ViewBag.Categories">
                    <option value="">All Categories</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" placeholder="Min Sale Price" name="minPrice" value="@ViewBag.MinPrice" />
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" placeholder="Max Sale Price" name="maxPrice" value="@ViewBag.MaxPrice" />
            </div>
            <div class="col-md-1 d-flex justify-content-end">
                <a asp-action="Create" class="btn btn-outline-success">New +</a>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-12">
        <ejs-grid id="products-list"
                  dataSource="@Model"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" template="#idCellTemplate" type="Text"></e-grid-column>
                <e-grid-column headerText="Name" field="Name" type="Text"></e-grid-column>
                <e-grid-column headerText="Sale Price" field="SalePrice" format="C" type="Number"></e-grid-column>
                <e-grid-column headerText="Supply Price" field="SupplyPrice" format="C" type="Number"></e-grid-column>
                <e-grid-column headerText="Quantity In Stock" field="QuantityInStock" type="Number"></e-grid-column>
                <e-grid-column headerText="Category" field="Category" type="Text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div class="p-2" style="font-size: 14px;">
        <a class="btn btn-outline-primary rounded-left no-outline @(ViewBag.HasPreviousPage ? "" : "disabled")" href="@Url.Action("Index", new { pageNumber = 1 })" @(ViewBag.HasPreviousPage ? "" : "tabindex=\"-1\"")>&lt;&lt;</a>
        <a class="btn btn-outline-primary rounded-right no-outline @(ViewBag.HasPreviousPage ? "" : "disabled")" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1 })" @(ViewBag.HasPreviousPage ? "" : "tabindex=\"-1\"")>&lt;</a>
        @if (ViewBag.CurrentPage > 1)
        {
            <a class="btn btn-outline-primary rounded-right no-outline" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1 })">@(@ViewBag.CurrentPage - 1)</a>
        }
        <button type="button" class="btn btn-primary rounded-right no-outline" disabled>@ViewBag.CurrentPage</button>
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a class="btn btn-outline-primary rounded-right no-outline" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1 })">@(@ViewBag.CurrentPage + 1)</a>
        }
        <a class="btn btn-outline-primary rounded-right no-outline @(ViewBag.HasNextPage ? "" : "disabled")" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1 })" @(ViewBag.HasNextPage ? "" : "tabindex=\"-1\"")>&gt;</a>
        <a class="btn btn-outline-primary rounded-right no-outline @(ViewBag.HasNextPage ? "" : "disabled")" href="@Url.Action("Index", new { pageNumber = ViewBag.TotalPages })" @(ViewBag.HasNextPage ? "" : "tabindex=\"-1\"")>&gt;&gt;</a>
    </div>
    <div class="p-2">
        <p class="h6">@ViewBag.CurrentPage of @ViewBag.TotalPages pages (@ViewBag.TotalItems items)</p>
    </div>
</div>

<br />
<br />
<br />

<script id="idCellTemplate" type="text/template">
    <div>
        <a rel='nofollow' href="products/details/${Id}">${Id}</a>
    </div>
</script>
