@model WMS.WebUI.ViewModels.PartnerViewModels.PartnerViewModel;

    <h3 class="text-light mb-4">Partner Details</h3>
    <hr />

    <dl class="row">
        <dt class="col-sm-3 font-weight-bold text-secondary">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-3 font-weight-bold text-secondary">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt class="col-sm-3 font-weight-bold text-secondary">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt class="col-sm-3 font-weight-bold text-secondary">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt class="col-sm-3 font-weight-bold text-secondary">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
<div class="m-5">
    <a asp-action="Index" class="btn btn-info fa-solid fa-arrow-left">
        Back
    </a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" asp-route-type="@Model?.Type" class="btn btn-outline-warning fa-solid fa-pen">
        Edit
    </a>
    <a asp-action="Delete" asp-route-id="@Model?.Id" asp-route-type="@Model?.Type" class="btn btn-outline-danger fa-solid fa-trash">
        Delete
    </a>
</div>